* {
  font-family: Arial;
  margin: 0;
  padding: 0;
  font-size: 13px;
}

a { 
  outline: none; 
}

img {
  border: 0;
}

body {
  background: url(images/site/back.png) repeat-x;
}
#wrap {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
#logo {
  margin-top: 16px;
  position: absolute;
}

#lang {
  position: absolute;
  margin-left: 69px;
  margin-top: 273px;
  width: 114px;
  height:25px;
  color: #e12;
}
#lang a {
  text-decoration: none;
  color: #e12;
}
#lang a.active {
  color: #e12;
  font-weight: bold;
}

@font-face {
    font-family: 'Myriad Pro Bold Cond';
    src: url('fonts/MyriadPro-BoldCond.eot');
    src: local('Myriad Pro Bold Cond'), 
         url('fonts/MyriadPro-BoldCond.ttf') format('truetype'); 
}

#content {
  padding: 0px 20px;
}
